#DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=raftmodding
DB_SSL=false
DB_LOGGING=false

#NODE
# use 'production' for production
NODE_ENV=development

#SERVER
SERVER_PORT=3000
# Host to bind the API server to, use 0.0.0.0 to enable external access.
SERVER_HOST=localhost
SERVER_JWT_SECRET=some-very-secret-string
SERVER_JWT_TTL=1d

# Vite config
# these values will be available in the client so be careful about confidential values
VITE_BASE_URL=http://localhost:8081 # no trailing slash!
VITE_FRONTEND_URL=http://localhost:3001 # no trailing slash!
VITE_PORT=3001
VITE_BRAND=RaftModding

#STORAGE
STORAGE_ACCESS=raftmodding-web-backend
STORAGE_SECRET=web-backend-password
STORAGE_ENDPOINT=http://localhost
STORAGE_PORT=9000
STORAGE_PUBLIC_BUCKET=raftmodding-public
STORAGE_PRIVATE_BUCKET=raftmodding-private

# E-Mail settings
# preconfigured to work with docker-compose email catcher
MAIL_SENDER=no-reply@raftmodding.local
MAIL_PORT=1025 # usually 465 in production
MAIL_SECURE=true
MAIL_HOST=localhost
MAIL_AUTH_USER=raftmodding-website
MAIL_AUTH_PASS=super-secret-password

# Recaptcha (botting protection for user accounts)
# Get your keys at https://cloud.google.com/security/products/recaptcha
RECAPTCHA_SITE_KEY=#string
RECAPTCHA_SECRET_KEY=#string

#DISCORD
VITE_DISCORD_CLIENT_ID=#string
DISCORD_CLIENT_SECRET=#string