#DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=raftmodding
DB_SSL=false
DB_LOGGING=false

#NODE
# use 'production' for production
NODE_ENV=development

#SERVER
SERVER_PORT=3000
# Host to bind the API server to, use 0.0.0.0 to enable external access.
SERVER_HOST=localhost
SERVER_JWT_SECRET=some-very-secret-string
SERVER_JWT_TTL=1d

#VITE
VITE_BASE_URL=#string
VITE_PORT=#number
VITE_BRAND=#string

#STORAGE
STORAGE_ACCESS=raftmodding-web-backend
STORAGE_SECRET=web-backend-password
STORAGE_ENDPOINT=http://localhost
STORAGE_PORT=9000
STORAGE_PUBLIC_BUCKET=raftmodding-public
STORAGE_PRIVATE_BUCKET=raftmodding-private

#MAIL
MAIL_SENDER=#string
MAIL_PORT=465#number
MAIL_SECURE=true#boolean
MAIL_HOST=#string
MAIL_AUTH_USER=#string
MAIL_AUTH_PASS=#string

# Recaptcha (botting protection for user accounts)
# Get your keys at https://cloud.google.com/security/products/recaptcha
RECAPTCHA_SITE_KEY=#string
RECAPTCHA_SECRET_KEY=#string

#DISCORD
VITE_DISCORD_CLIENT_ID=#string
DISCORD_CLIENT_SECRET=#string